target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE files ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated

### Logs and OS files ###
*.log
.DS_Store
Thumbs.db

### Application runtime uploads ###
uploads/*
!uploads/.gitkeep
